


.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 24px;
  color: white;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-box {
  padding: 10px; 
  font-size: 24px;
  border: 2px solid #282c34;
  height: 50px;
  width: 800px;
  color: white;
  background-color: #282c34;
}

.ais-SearchBox-submitIcon {
  height: 24px;
  width: 24px;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  font-size: 24px;
  padding-block: 10px;
  padding-inline: 20px;
  color: white;
  background-color: #282c34;
}


.ais-InstantSearch {
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  height: 600px;
} 

.hits-grid {
  display: grid;
  
  grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
  
}

.not-hit-card {
  display: flex;
  align-items: center;
  background-color: #282c34;
}

.title-area {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  width: 90%
}

.image-column {
  float: left;
  margin-right: 10px;
}

.info-column {
  flex: 1 1 auto;
}

.hit-card {
  display: flex;
  width: 900px;
  height: 440px;
  margin: 10px;
  border: 1px solid #282c34;
  padding: 10px;
  border-radius: 4px;
  background-color: #282c34;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: white;
}

textarea {
  width: 400px;
  height: 420px;
  background-color: #282c34;
  color: white;
}
