.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 24px;
  color: white;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-box {
  padding: 10px; 
  font-size: 24px;
  border: 2px solid black;
  height: 50px;
  width: 80%;
  color: white;
}

.ais-SearchBox-submitIcon {
  
  height: 24px;
  width: 24px;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  font-size: 24px;
  padding-block: 10px;
  padding-inline: 20px;
  color: white;
  background-color: #282c34;
}

.bigger-search-box {
  width: 100%; /* Set the width to 100% of its parent container, or you can specify a fixed width */
  height: 50px; /* Set the height of the search box */
  font-size: 20px; /* Increase the font size */
  padding: 10px; /* Add some padding inside the search box */
  border: 2px solid #ccc; /* Add a border to the search box */
  border-radius: 5px; /* Optional: Add rounded corners */
}

/* App.css */
.ais-InstantSearch {
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  height: 600px;
} 

.hits-grid {
  display: grid;
  
  grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
  
}

.not-hit-card {
  display: flex;
  align-items: center;
  background-color: #282c34;
}

.image-column {
  flex: 0 0 auto;
  margin-right: 10px;
}

.info-column {
  flex: 1 1 auto;
}

.hit-card {
  display: flex;
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #282c34;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: white;
}
